{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "esversion": 6
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "warn"
  }
}
